<div class="conatainer">
    <div class="row">
        <div class="col-10 offset-1"></div>
        {{!--post--}}
        <div class="jumbotron jumbotron-fluid test">
            <div class="container">
                <h1 class="display-4">{{title}}</h1>
                <p>{{author}}</p>
                <br><br><br><br><br><br><br><br>
                <p id="post_post_page">{{post}}</p>
                <button class="reply" data-toggle="modal" data-target="#replymodal">reply</button>
            </div>

        </div>
    </div>

{{!-- if their are comments --}}
    {{#if children}}
    {{#each children}}
    {{> commentlist}}
    {{/each}}
    {{/if}}
</div>

<div class="modal" id="replymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="text" placeholder="reply">
                    <input type="text" id="author" placeholder="reply">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary post" id="makereply" data-location="" data-postId=""
                    data-parentId="">Comment</button>
            </div>
        </div>
    </div>
</div>

<script>
    var reply = document.getElementsByClassName("reply")
    for (var i = 0; i < reply.length; i++) {

        reply[i].addEventListener("click", function () {
            let parentid = this.getAttribute("data-parentId")
            let postid = this.getAttribute("data-postId")
            let location = this.getAttribute("data-location")

            var confirm=document.getElementById("makereply")
            confirm.setAttribute("data-parentId",parentid)
             confirm.setAttribute("data-postId",postid)
              confirm.setAttribute("data-location",location)
        })
    }


</script>
<script type="text/javascript" src="../js/index.js"></script>