<bR>
<div id="home"><br>

    <div class="container">
      <div class="row">
        <div class="col-10 offset-1">
          <!--JumboTron Start-->
          <div class="jumbotron jumbotron-fluid test">
            <div class="container">
              <br><br>
            </div>
  
          </div>
          <!--JumboTron End-->
  
  
          <div class="content"><!--Content Start-->
  
          <h2 class=header>Creator Creation Time !</h2><hr>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Creator Image</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Link To Image Goes Here">
            </div>
            <div class="form-group">
              <label for="example-description">DisplayName</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Insert Desired Display Name Here"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          
          <h3>Example:</h3><br>
            <div class="card col-4 offset-4 profile" style="width: 18rem;">
                <img class="card-img-top" src="guy.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Jeff Kurtz</p>
              </div>
            </div>
            <br><br><br><br>
          </div><!--Content End-->
  
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/css/stylecreator.css" media="screen" title="no title" charset="utf-8">