<bR>
    <div id="home"><br>
    
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1">
              <!--JumboTron Start-->
              <div class="jumbotron jumbotron-fluid test">
                <div class="container">
                  <br><br>
                </div> 
      
              </div>
              <!--JumboTron End-->

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Index</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Memes <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Funny Stories <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Politics <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Game Talk <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Project Ideas <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav><br>



              <div class="card text-center">
                    <div class="card-header">
                      <h1>Game Talk</h1>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Gamers Rise Up</h5>
                      <h2>Create a Post</h2>

                    <form class="create-form">

                        <div class="form-group">
                            <label for="auth">Author:</label>
                            <input type="text" id="auth" name="author">
                        </div>

                        <div class="form-group story">
                          <label for="exampleFormControlTextarea1 Title">Title Post</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>

                        <div class="form-group story">
                          <label for="exampleFormControlTextarea1 Story">Game Talk</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <button type="submit" class="Post">Post</button>
                    </form>
                  </div>
                </div><br>

                <div id="Posts">

                <div class="card text-center">
                  <div class="card-header">
                    Halo 2 Best Game N/A
                  </div>
                  <div class="card story">
                    <p>Halo 2, the long-awaited sequel to one of the most widely praised, most influential first-person shooters ever created, has a very tough act to follow. Fortunately, it's built on a foundation that's as strong as they come. The game's success was preordained--publisher Microsoft tallied more than 1.5 million Halo 2 preorders in the weeks leading up to the game's release, which demonstrates just how confident Halo's fans are in the sequel's quality.</p>
                    <div class="card-img-overlay">
                      <h5 class="card-title"></h5>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
    
                    <div class="card col-4 offset-4 profile" style="width: 18rem;">
                      <img class="card-img-top" src="guy.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Jeff Kurtz</p>
                    </div>
                  </div>  
                  </div><br>

                  <p>
                    <button class="btn btn-primary Comments" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Comment
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form class="create-form">

                            <div class="form-group">
                                <label for="auth">Author:</label>
                                <input type="text" id="auth" name="author">
                            </div>
    
                            <div class="form-group story">
                              <label for="exampleFormControlTextarea1 Story">Text</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
    
                            <button type="submit" class="Post">Post</button>
                        </form>
                    </div>
                  </div>

                  <p>
                      <button class="btn btn-primary Comments" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Show Comments
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>

                   
                </div>
                 

              
              </div>
      
            
      
            </div>
          </div>
        </div>
      </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src=""></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/css/stylememe.css" media="screen" title="no title" charset="utf-8">