<br>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1"><br>
        <!--JumboTron Start-->
        <div class="jumbotron jumbotron-fluid test">
          <div class="container">
            <br><br><br><br><br><br><br><br>
          </div>

        </div>
        <!--JumboTron End-->

        <button id="creator" class="btn btn-primary float-left" data-toggle="modal" data-target="#signup">Make a
          Creator</button>
        <button id="forums" class="btn btn-primary float-right" data-toggle="modal" data-target="#login"
          type="button">Already Have a Creator</button>

        <div class="content">
          <!--Content Start-->
          {{#each categoryList }}
          <button class="get categories btn" data-task="locations" data-category={{categories}}>{{categories}}</button>
          {{/each}}


        </div>
        <!--Content End-->

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="form-control" id="logemail" placeholder="email" aria-label="Username"
            aria-describedby="basic-addon1">
          <input type="password" class="form-control" id="logpassword" placeholder="password" aria-label="Username"
            aria-describedby="basic-addon1">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary get" data-task="login">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="form-control" id="name" placeholder="name" aria-label="Username"
            aria-describedby="basic-addon1">
          <input type="text" class="form-control" id="userName" placeholder="username" aria-label="Username"
            aria-describedby="basic-addon1">
          <input type="text" class="form-control" id="email" placeholder="email" aria-label="Username"
            aria-describedby="basic-addon1">
          <input type="password" class="form-control" id="password" placeholder="password" aria-label="Username"
            aria-describedby="basic-addon1">
          <input type="text" class="form-control" id="pic" placeholder="image link" aria-label="Username"
            aria-describedby="basic-addon1">
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary post" data-task="user">Create User</button>
      </div>
    </div>
  </div>
</div>
