<br>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1"><br>
        <!--JumboTron Start-->
        <div class="jumbotron jumbotron-fluid test">
          <div class="container">
            <br><br><br><br><br><br><br><br>
          </div>
        
        </div>
        <!--JumboTron End-->

        <button id="creator" class="btn btn-primary float-left">Make a Creator</button>
        <button id="forums" class="btn btn-primary float-right">Already Have a Creator</button>

        <div class="content"><!--Content Start-->
 
          

        </div><!--Content End-->

      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/css/styleindex.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
